*{
  font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
  max-width: 500px;  /*Ancho maximo*/
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: #06D001;
  border: none;
  color: white;
}

#scoreBoard {
  display: inline-flex; /*Para que ls puntuación se vea seguida del score*/
}

/*Estilos para los cuadrados los cuales se genera dinamicamente con JS*/
.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #456990;
}
.snakeSquare {
  background-color: #ccf47f;
}
.foodSquare {
  background-color: #f35a69;
}